<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partial/head-meta.ejs") %>
    <title>Index</title>
  </head>

  <body>
    <%- include("partial/navbar") %>
    <div class="container-fluid">
      <h1 class="text-center">Game User List</h1>
      <div class="text-center table-responsive-lg">
        <a href="/add">
          <button class="btn btn-success mb-5 mt-3">Add New Entry</button>
        </a>
        <% if(notif == 'suksesupdate') { %> <%-include('partial/message') %> <%
        } else if (notif =="suksesedit") { %> <%-
        include('partial/message-edit') %> <% } else if (notif ==
        "suksesdelete") { %> <%- include('partial/message-delete') %> <% } %>

        <table
          class="table table-bordered table-hover table-dark table-hover table-sm"
        >
          <thead>
            <tr>
              <th>User Name</th>
              <th>Password</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Win</th>
              <th>Lose</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((data, index) => { %>
            <tr>
              <td><%= data.username %></td>
              <td><%= data.password %></td>
              <td><%= data.userGameBiodata.firstName %></td>
              <td><%= data.userGameBiodata.lastName %></td>
              <td><%= data.userGameBiodata.age %></td>
              <td><%= data.userGameHistory.win %></td>
              <td><%= data.userGameHistory.lose %></td>
              <td>
                <a href="/api/user/<%= data._id %>">
                  <button class="btn btn-warning">Edit</button>
                </a>
              </td>
              <td>
                <form action="/api/user/<%= data._id %>" method="DELETE">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <script
      type="text/javascript"
      src="public/script/bootstrap.min.js"
    ></script>
  </body>
</html>
