<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partial/head-meta.ejs") %>
    <title>Dashboard</title>
  </head>

  <body>
    <%- include("partial/navbar") %>
    <div class="container-fluid">
      <h1 class="text-center">Game User List</h1>
      <div class="text-center table-responsive-xl">
        <a href="/add">
          <button class="btn btn-success mb-5 mt-3">Add New Entry</button>
        </a>
        <% if (messageSuccess) { %>
         <%- include("partial/message-green") %> 
        <% } %>
        <% if (messageError) { %>
          <%- include("partial/message-red") %> 
         <% } %>
        <table class="table table-bordered table-hover table-dark table-hover table-sm">
          <thead>
            <tr>
              <th>No.</th>
              <th>User Name</th>
              <th>Password</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Win</th>
              <th>Lose</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((data, index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= data.username %></td>
              <td><%= data.password %></td>
              <td><%= data.userGameBiodata.firstName %></td>
              <td><%= data.userGameBiodata.lastName %></td>
              <td><%= data.userGameBiodata.age %></td>
              <td><%= data.userGameHistory.win %></td>
              <td><%= data.userGameHistory.lose %></td>
              <td>
                <a href="/edit?id=<%= data._id %>">
                  <button class="btn btn-warning"><i class="fas fa-edit"></i> Edit</button>
                </a>
              </td>
              <td>
                <a href="/delete?id=<%= data._id %>">
                  <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
